<ion-content>

  <div class="w3-container ">
    <h2>Comprobante # {{factura.id}}</h2>
    <hr>
  </div>

  <div class="w3-row">
    <div class="w3-col l12 w3-border w3-padding" style="text-align: center">
      <h1>Total: ${{total}}</h1>
    </div>
  </div>

  <div class="w3-row w3-border">
    <div class="w3-col l3 w3-padding">

      <select class="w3-select w3-border w3-round w3-white w3-xlarge" [(ngModel)]="cliente" (change)="cambiarCliente()">
        <option value="1">Venta</option>
        <option value="2">Consumo interno</option>
      </select>


    </div>

    <div class="w3-col l3  w3-padding">
      <button class="w3-large" ion-button icon-left block (click)="buscar()">
        <ion-icon name="search"></ion-icon>
        Buscar producto por nombre
      </button>




    </div>

    <div class="w3-col l3  w3-padding">
      <button class="w3-large" ion-button icon-left full (click)="comprobante()">
        <ion-icon name="ios-print-outline"></ion-icon>
        Cobrar e imprimir
      </button>

      <button class="w3-large" ion-button icon-left full color="secondary" (click)="sincomprobante()">
        <ion-icon name="ios-remove-circle-outline"></ion-icon>
        Cobrar y no imprimir
      </button>





    </div>

    <div class="w3-col l3  w3-padding">
      <label class="w3-text-blue w3-large">
        <b>Dinero recibido</b>
      </label>
      <input class="w3-input w3-border w3-round w3-xlarge" placeholder="Dinero recibido" type="number" [(ngModel)]="recibido" (input)="calcular()">

      <label class="w3-text-blue w3-large">
        <b>Vuelto</b>
      </label>
      <input class="w3-input w3-border w3-round w3-xlarge" placeholder="Vuelto" type="number" value="0.00" [(ngModel)]="vuelto">



    </div>



  </div>


  <div class="w3-row w3-border ">
    <div class="w3-col l3 w3-padding"></div>
    <div class="w3-col l6  w3-padding " style="text-align: center">
      <form id="container2" *ngIf="form" [formGroup]="form" (ngSubmit)="buscarCodigo()">
        <div class="w3-row">
          <div class="w3-col l11">
            <input id="focusInput" class="w3-input w3-border w3-round w3-xlarge" autofocus formControlName="name" placeholder="Ingresar código de barras" type="text">

          </div>
          <div class="w3-col l1">
              <button class="w3-button w3-blue w3-large">
                  <ion-icon name="search"></ion-icon>
              
                </button>
          </div>
        </div>

      </form>

    </div>

    <div class="w3-col l3"></div>


  </div>
  <br>




  <table class="w3-table w3-striped w3-bordered  w3-round w3-large">
    <tr class="w3-dark-gray">
      <th>Cantidad</th>
      <th>Código</th>
      <th>Producto</th>
      <th>Unidad</th>
      <th>Unitario</th>
      <th>Total</th>
      <th>Acciones</th>
      <th class="w3-blue">Stock</th>
    </tr>
    <tr *ngFor="let detalle of detalles">
      <td>{{detalle.cantidad}}</td>
      <td>{{detalle.codigo}}</td>
      <td>{{detalle.producto}}</td>
      <td>{{detalle.unidad}}</td>
      <td>${{detalle.unitario}}</td>
      <td>${{detalle.total}}</td>
      <td>

        <button ion-button small icon-only color="danger" (click)="borrarDetalle(detalle.id)" round>
          <ion-icon name="md-trash"></ion-icon>
        </button>
      </td>

      <td>{{detalle.stock}}</td>
    </tr>
  </table>




  <!-- align to the bottom of the page -->
  <!-- <div style="position: absolute; bottom: 0px; width: 100%">
          <div style="text-align: center">
            <p>Bottom</p>
          </div>
      </div> -->




</ion-content>

<div style="visibility: hidden" id="boleta2" style=" border: 1; font-size: 8; border-color: black">


  <h1>COMERCIAL HERAS</h1>
  <h2>Ventas al por mayor y menor</h2>
  <h2>
    <strong>Comprebante:</strong> # {{factura.id}}</h2>
  <h2>Fecha: {{fecha}}</h2>


  <hr>




  <table style="width: 100%">
    <tr>
      <th style="text-align: center; padding: 2px">
        <h1>Cant.</h1>
      </th>
      <th style="text-align: center; padding: 2px">
        <h1>Producto</h1>
      </th>
      <th style="text-align: center; padding: 2px">
        <h1>Unit.</h1>
      </th>
      <th style="text-align: center; padding: 2px">
        <h1>Total</h1>
      </th>

    </tr>

    <tr *ngFor="let detalle of detalles">
      <td style="text-align: center; padding: 2px">
        <h2>{{detalle.cantidad}}</h2>
      </td>
      <td style="text-align: left; padding: 2px;">
        <h2>{{detalle.producto}}</h2>
      </td>
      <td style="text-align: center; padding: 2px">
        <h2>${{detalle.unitario}}</h2>
      </td>
      <td style="text-align: center; padding: 2px">
        <h2>${{detalle.total}}</h2>
      </td>


    </tr>


  </table>
  <hr>


  <div style="text-align: right">
    <h1>TOTAL: ${{total}}</h1>
  </div>
  <hr>
  <h2 style="text-align: center">***ES UN PLACER SERVIRLE***</h2>
  <h4 style="text-align: center">Este comprobante no tiene validez tributaria</h4>



</div>


<script>

  alert('hola')

  function saludar() {
    alert(saludar);
  }
  function PrintElem(elem) {
    var mywindow = window.open('', 'PRINT', 'height=400,width=600');

    mywindow.document.write('<html><head><title>' + document.title + '</title>');
    mywindow.document.write('</head><body >');
    mywindow.document.write('<h1>' + document.title + '</h1>');
    mywindow.document.write(document.getElementById(elem).innerHTML);
    mywindow.document.write('</body></html>');

    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10*/

    mywindow.print();
    mywindow.close();

    return true;
  }

</script>