<!--
  Generated template for the PrecioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LISTA DE PRECIOS - {{prod.unidad.nombre}} {{prod.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form id="container" [formGroup]="formCodigo" (ngSubmit)="gestionar()">
    <ion-input [(ngModel)]="id" type="hidden" value="" formControlName="id"></ion-input>

    <label class="w3-text-blue">
      <b>Unidad</b>
    </label>
    <select class="w3-select w3-border w3-round w3-white" name="option" [(ngModel)]="unidad" formControlName="unidad">
      <option value="" disabled selected>Elige una opción</option>
      <option *ngFor="let unidad of unidades" value={{unidad.id}}>{{unidad.nombre}}</option>

    </select>

    <label class="w3-text-blue">
      <b>Precio</b>
    </label>
    <input class="w3-input w3-border w3-round" [(ngModel)]="precio" placeholder="Precio" autofocus formControlName="precio" type="number">


    <label class="w3-text-blue">
        <b>Tamaño</b>
      </label>
      <input class="w3-input w3-border w3-round" [(ngModel)]="tamano" placeholder="Tamaño" autofocus formControlName="tamano" type="number">
  

      <button ion-button>Guardar</button>
  </form>
  <table style="width: 100%; padding: 10px; border-radius: 25px" border="1">

    <tr>

      <th style="padding: 5px; text-align: center">Unidad</th>
      <th style="padding: 5px; text-align: center">Precio</th>
      <th style="padding: 5px; text-align: center">Tamaño</th>



      <th style="padding: 5px; text-align: center"></th>
    </tr>
    <tr *ngFor="let item of items">
      <td style="padding: 5px; text-align: center">{{item.unidad.nombre}}</td>
      <td style="padding: 5px; text-align: center">${{item.precio}}</td>
      <td style="padding: 5px; text-align: center">{{item.tamano}}</td>



      <td style="padding: 5px; text-align: center">
        <button ion-button round icon-only small color="secondary" (click)="editar(item)">
          <ion-icon name="md-create"></ion-icon>
        </button>

        <button ion-button round icon-only small color="danger" (click)="eliminar(item)">
          <ion-icon name="md-trash"></ion-icon>
        </button>

      </td>
    </tr>


  </table>

  <ion-fab top right edge (click)="nuevo()">
    <button ion-fab mini>
      <ion-icon name="add" (click)="nuevo()"></ion-icon>
    </button>

  </ion-fab>

</ion-content>